# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production

# Python
api/venv/
api/__pycache__/
api/*.pyc
api/*.pyo
api/*.pyd
api/.Python
api/env/
api/build/
api/develop-eggs/
api/dist/
api/downloads/
api/eggs/
api/.eggs/
api/lib/
api/lib64/
api/parts/
api/sdist/
api/var/
api/wheels/
api/*.egg-info/
api/.installed.cfg
api/*.egg
api/MANIFEST

# PyCharm
.idea/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints
